        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Multimedia and Video Production</h2>
            </div>
            <div class="col-md-6">
                <p>Skill Include</p>
                <ul>
                    
                    <li>jQuery</li>
                    <li>Javascript</li>
                    <li>PHP</li>
                    <li> MySQL</li>
                    <li>HTML, CSS</li>
                    <li>AnjularJS</li>
                    <li>Java,C# Languages</li>
                    <li>PhotoShop/ Illulistrator / FireWorks</li>
                     <li>Adobe Premier Pro Video Editing</li>
                </ul>
                <p>I have a wide range of skills form coding to desktop publishing, I also enjoy Photography</p>
            </div>
            <div class="col-md-6">
            <iframe width="560" height="315" src="http://www.youtube.com/embed/nklskR3QdCs" allowfullscreen=""></iframe>
            </div>
        </div>
        <!-- /.row -->

        <hr>

           <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Languages</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
               <img class="img-responsive customer-img" title="wordpress" src="images/wordpress.png" alt=" image">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" title="IOS" src="images/ios.png" alt=" image">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
               <img class="img-responsive customer-img" src="images/androidlogo.png" title="Andorid " alt="android app image">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
               <img class="img-responsive customer-img" src="images/html5.png" alt="html">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" title="angularjs"  src="images/angular.png" alt=" angular">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
              <img class="img-responsive customer-img" title="css3 image" src="images/css3.png" alt="css3">
            </div>
        </div>
        <!-- /.row -->
         <div class="row" style="margin-top:40px;">
            <div class="col-lg-12">
              
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
               <img class="img-responsive customer-img" title="php" src="images/php.png" alt=" image">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" title="mysql" src="images/mysql.png" alt=" image">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
               <img class="img-responsive customer-img" src="images/javascript.png" title="javascript " alt="javascript ">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
               <img class="img-responsive customer-img" src="images/jquery.png" alt="jquery">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" title="java"  src="images/java.png" alt=" java">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
              <img class="img-responsive customer-img" title="bootstrap image" src="images/bootstrap.png" alt="bootstrap">
            </div>
        </div>
        <!-- /.row -->
         <div class="row" style="margin-top:40px;">
            <div class="col-lg-12">
               <h2 class="page-header">Software Skills</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
               <img class="img-responsive customer-img" title="adobe" src="images/adobe.png" alt=" image">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" title="photo" src="images/photoshop.png" alt=" image">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
               <img class="img-responsive customer-img" src="images/animate.png" title="animate " alt="animate ">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
               <img class="img-responsive customer-img" src="images/dream.png" alt="dream">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" title="illustrator"  src="images/illustrator.png" alt=" java">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
              <img class="img-responsive customer-img" title="premier" src="images/premier.png" alt="ai">
            </div>
        </div>
        <!-- /.row -->